<% include ../partials/header %>

<div class="container">
    <h1>Movie Collection</h1>
    <div class="text-right mb-3">
        <a class="btn btn-sm btn-primary" href="/movies/search">Add New Movie</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <% movieList.forEach (function (movie){ %>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card mb-3 bg-light w-100">
                    <img class="card-img-top" src="<%= imgBaseUrl + '/w185/' + movie['info']['poster_path'] %>" alt="">
                    <div class="card-body">
                        <h5 class="card-title"><%= movie.info['title'] %></h5>
                        <p class="card-text"><%= movie.info['overview'].substring(0, 100) %>...</p>
                        <a class="btn btn-brown btn-sm" href="/movies/<%= movie['id'] %>">More Info</a>
                        <form action="/collections/<%=movie['_id'] %>/?_method=DELETE" method="POST" style="display: inline-block;">
                            <button class="btn btn-danger btn-sm">Remove</button>
                        </form>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>


<% include ../partials/footer %>