<% include ../partials/header %>

<div class="text-right container mb-3">
        <% if (movies['page'] > 1) { %>
            <a class="btn btn-brown btn-sm" href="<%= (Number(movies['page']) - 1) + '?q=' + query %>">Previous Page</a>
        <% } %>

        <% if (movies['total_pages'] > movies['page']) { %>
            <a class="btn btn-brown btn-sm" href="<%= (Number(movies['page']) + 1) + '?q=' + query %>">Next Page</a>
        <% } %>

        <% if (movies['page'] > 1) { %>
            <a class="btn btn-brown btn-sm" href="<%= '1?q=' + query %>">First Page</a>
        <% } %>

        <a class="btn btn-brown btn-sm" href="/movies/search">New Search</a>
</div>

<div class="container">
    <div class="row">
        <% movies['results'].forEach (function (movie){ %>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card mb-3 bg-light w-100">
                    <img class="card-img-top" src="<%= imgBaseUrl + '/w185/' + movie['poster_path'] %>" alt="<%= movie['title'] %>">
                    <div class="card-body">
                        <h5 class="card-title"><%= movie['title'] %></h5>
                        <p class="card-text"><%= movie['overview'].substring(0, 100) %>...</p>
                        <div class='card-btns'>
                            <a class="btn btn-brown btn-sm" href="/movies/<%= movie['id'] %>">More Info</a>
                            <form class="btn-card" action="/collections?id=<%= movie['id'] %>" method="POST">
                                <button class="btn btn-brown">Add</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>